// // Стили для Блока "Hero"
// .hero {
//     &-container {
//         margin-left: auto;
//     }
// }
.hero {
    position: absolute;
    top: 0;
    width: 100%;
    // max-width: 1125px;
    background-image: url(../images/hero/480/hero-480-slider3.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    // margin-left: auto;
    // margin-right: auto; 
    // // margin-left: auto;
    // margin-right: auto;
    // height: 580px;
    // padding: 0;

    // @media screen and (min-width: 480px) {
    //     max-width: 768px;

    //     background-image: url(../images/hero/609/hero-609-slider1.jpg);
    //     max-height: 680px;
    //     background-size: contain;
    //     background-position: right;
    // }
    @media screen and (min-width: 768px) {
        // max-width: 1125px;
        // display: flex;
        background-image: url(../images/hero/480/hero-480-slider2.jpg);
    }
    
    @media screen and (min-width: 1280px) {
        // max-width: 1280px;
        display: flex;
        background-image: url(../images/hero/1125/hero-1125-slider1.jpg);
    }
    // background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    //   url(../images/hero/480/hero-480.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // margin-left: auto;
    // margin-right: auto;
    // height: 580px;
    // padding: 0;

    // @media screen and (min-width: 480px) {
    //   // position: relative;
    //     max-width: 768px;

    // background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    //         url(../images/hero/609/hero-609.jpg);
    //     max-height: 680px;
    //     background-size: contain;
    //     background-position: right;
    // }

    // @media screen and (min-width: 768px) {
    //     max-width: 1280px;
    //     display: flex;
    //     background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    //     url(../images/hero/1125/hero-1125.jpg);
    // }
}
.hero {
    &-container {
        padding-top: 194px;
    }
    &-description {
        color: rgba(157, 164, 189, 0.6);
    }
    &-title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.05em;
        color: $main-2-color;
    }
    &-description-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #9DA4BD;
    }
}

