    <section class="container">
        <ul class="feautures-conteiner">
        <li class="feautures-box">
            <div class="feautures-line-box">
            <div class="feautures-line"></div>
            <p class="feautures-title-one">старая традиционная школа</p>
            </div>
            <h2 class="feautures-title-big">Почему приходят именно к нам?</h2>
            <p class="feautures-text">
            О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
            чем 10 раз прочитать.</p>
        </li>
        <li>
            <ul class="feautures-list">
            <li class="feautures-margin-right">
                <ul>
                <li class="feautures-item">
                <p class="feautures-item-number">600<sup class="feautures-item-number-plus">+</sup></p>
                <p class="feautures-item-text">Довольных клиентов в день</p>
                </div>
                <li class="feautures-item">
                <p class="feautures-item-number">20<sup class="feautures-item-number-plus">+</sup></p>
                <p class="feautures-item-text">Лучших мастеров Киева</p>
                </li>
            </ul>
            </li>
            <li class="feautures-margin">
                <ul>
                <li class="feautures-item">
                <p class="feautures-item-number">50<sup class="feautures-item-number-plus">+</sup></p>
                <p class="feautures-item-text">Наград за отличный сервис</p>
                </li>
                <li class="feautures-item">
                <p class="feautures-item-number">100<sup class="feautures-item-number-plus">+</sup></p>
                <p class="feautures-item-text">Подарков постоянным клиентам</p>
                </li>
            </ul>
            </li>
            </ul>
        </li>
        </ul>
    </section>
    